<div class='multipick-container'>
	<div class='form-inline'>
		<div class='row'>
			<div class='col-md-5'>
				<select class='itensSource' ng-dblclick='add()' ng-model='selectedItens' multiple='multiple' style='width:100%'>
					<option class='{{item.value}}' ng-repeat='item in itens' value='{{item}}'>{{item.label}}</option>
				</select>	
			</div>
			<div class='col-md-1'>
				<div class='multipick-selectors btn-group-vertical'>
					<input class='btn btn-default' type='button' value='>' ng-click='add()'>
					<input class='btn btn-default' type='button' value='<' ng-click='remove()'>
					<input class='btn btn-default' type='button' value='>>' ng-click='addAll()'>
					<input class='btn btn-default' type='button' value='<<' ng-click='removeAll()'>
				</div>
			</div>
			<div class='col-md-5'>
				<select class='itensTarget' ng-dblclick='remove()' ng-model='removedItens' multiple='multiple'  style='width:100%;'>
					 <option class='{{item.value}}' ng-repeat='item in activeItens	' value='{{item}}'>{{item.label}}</option>
				</select>
			</div>
		</div>
	</div>
</div>